In [1]:
import psycopg2 as pg
import yaml
from pathlib import Path
import os
import pandas as pd

In [3]:
schema_path = '../misc/schemas.yaml'
with open(schema_path) as schema_file:
    config = yaml.load(schema_file)

In [4]:
config

[{'name': 'complaints_users',
  'size': 'medium',
  'columns': ['complaint_id',
   'complaint_text',
   'was_user_disputed',
   'date',
   'product_id',
   'issue_id'],
  'schema': 'complaint_id integer primary key,\ncomplaint_text text not null,\nwas_user_disputed varchar(3),\ndate timestamp without time zone not null,\nproduct_id integer,\nissue_id integer\n'},
 {'name': 'complaints_companies',
  'size': 'medium',
  'columns': ['complaint_id',
   'company',
   'company_response_to_user',
   'company_response_to_public',
   'was_response_timely',
   'date'],
  'schema': 'complaint_id integer primary key,\ncompany varchar(1000) not null,\ncompany_response_to_user varchar(32),\ncompany_response_to_public varchar(128),\nwas_response_timely varchar(3),\ndate timestamp without time zone not null\n'},
 {'name': 'products',
  'size': 'small',
  'columns': ['product_id', 'main_product', 'sub_product'],
  'schema': 'product_id integer primary key,\nmain_product varchar(80) not null,\nsub_product varchar(44)\n'},
 {'name': 'issues',
  'size': 'small',
  'columns': ['issue_id', 'main_issue', 'sub_issue'],
  'schema': 'issue_id integer primary key,\nmain_issue varchar(90) not null,\nsub_issue varchar(90)\n'}]

In [5]:
for table in config:
    print(table.get('name'))
    print(table.get('schema'))

complaints_users
complaint_id integer primary key,
complaint_text text not null,
was_user_disputed varchar(3),
date timestamp without time zone not null,
product_id integer,
issue_id integer

complaints_companies
complaint_id integer primary key,
company varchar(1000) not null,
company_response_to_user varchar(32),
company_response_to_public varchar(128),
was_response_timely varchar(3),
date timestamp without time zone not null

products
product_id integer primary key,
main_product varchar(80) not null,
sub_product varchar(44)

issues
issue_id integer primary key,
main_issue varchar(90) not null,
sub_issue varchar(90)

In [11]:
data_path = '../data/'
for table in config:
    table_name = table.get('name')
    table_source = data_path + f"{table_name}.csv"
    table_cols = [str.upper(i) for i in table.get('columns')]
    df = pd.read_csv(table_source)
    df.head(5)
#     df_reorder = df[table_cols]  # rearrange column here
#     df_reorder.to_csv(table_source, index=False)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
table = config[0]

table_name = table.get('name')
table_source = data_path + f"{table_name}.csv"
table_cols = [str.upper(i) for i in table.get('columns')]
df = pd.read_csv(table_source)
df.head(5)

,COMPLAINT_ID,COMPLAINT_TEXT,WAS_USER_DISPUTED,DATE,PRODUCT_ID,ISSUE_ID
0,3184195,XXXX and Transunion are reporting incorrectly...,NaN,03/19/2019,26,253
1,3184692,XXXX and Transunion are reporting incorrectly ...,NaN,03/19/2019,26,253
2,3183613,"XXXX, XXXX, and Experian need to remove the co...",NaN,03/18/2019,26,165
3,3182430,"3 company with inconsistencies, violations and...",NaN,03/17/2019,26,253
4,3182218,I have a personal loan from Patriot finance. T...,NaN,03/17/2019,26,165

In [13]:
df[table_cols]

,COMPLAINT_ID,COMPLAINT_TEXT,WAS_USER_DISPUTED,DATE,PRODUCT_ID,ISSUE_ID
0,3184195,XXXX and Transunion are reporting incorrectly...,NaN,03/19/2019,26,253
1,3184692,XXXX and Transunion are reporting incorrectly ...,NaN,03/19/2019,26,253
2,3183613,"XXXX, XXXX, and Experian need to remove the co...",NaN,03/18/2019,26,165
3,3182430,"3 company with inconsistencies, violations and...",NaN,03/17/2019,26,253
4,3182218,I have a personal loan from Patriot finance. T...,NaN,03/17/2019,26,165
5,3182593,Starting in XX/XX/XXXX I started receiving cal...,NaN,03/17/2019,37,18
6,3181958,Card issuer received confirmation of payment i...,NaN,03/16/2019,26,165
7,3181688,YOUR COMPLAINT I am disputing the debt owed to...,NaN,03/16/2019,39,349
8,3182176,I met the requirements for the ability to bene...,NaN,03/16/2019,90,300
9,3181575,"XXXX, XXXX, and Transunion are not taking my c...",NaN,03/16/2019,26,253
10,3181585,TRANSUNION REFUSES TO DELETE UNVERIFIED CREDIT...,NaN,03/16/2019,26,166
11,3181191,"Transunion, XXXX, and XXXX Dispute with all th...",NaN,03/15/2019,26,253
12,3180467,There are many mistakes appear in my report wi...,NaN,03/15/2019,26,164
13,3180820,Transunion is incorrectly reporting me 120 day...,NaN,03/15/2019,26,253
14,3180483,There are many mistakes appear in my report wi...,NaN,03/15/2019,26,164
15,3180819,Experian continues to report 2 bankruptcies on...,NaN,03/15/2019,26,172
16,3180773,I contacted transunion and XXXX about an acco...,NaN,03/15/2019,26,253
17,3180503,Transunion are in violation of act s 611 5 b o...,NaN,03/15/2019,26,155
18,3180895,XXXX and Transunion are reporting me as 30 day...,NaN,03/15/2019,26,253
19,3180777,Experian failure to remove XXXX XXXX from repo...,NaN,03/15/2019,26,253
20,3180389,"I am trying to close on a home, and I checked ...",NaN,03/15/2019,26,155
21,3180863,"I contacted XXXX, XXXX and Experian about ban...",NaN,03/15/2019,26,253
22,3181466,About mid-XXXX a door to door salesman came an...,NaN,03/15/2019,42,18
23,3180446,The following inquiries are a result of identi...,NaN,03/15/2019,26,152
24,3180969,XXXX XXXX is reporting a debt on my credit fil...,NaN,03/15/2019,26,166
25,3180696,XX/XX/XXXX - called Rushmore Loan Management S...,NaN,03/15/2019,39,18
26,3181196,XXXX and Experian are reporting incorrectly a...,NaN,03/15/2019,26,253
27,3181474,"XXXX, XXXX XXXX XXXX # XXXX DOB XX/XX/XXXX ADD...",NaN,03/15/2019,26,155
28,3180968,XXXX XXXX is reporting a debt on my credit fil...,NaN,03/15/2019,26,166
29,3180709,XXXX XXXX claimed that I owed them {$180.00} d...,NaN,03/15/2019,42,16
...,...,...,...,...,...,...
383036,1290555,"My bank is Capital One in XXXX XXXX, LA. I pay...",No,03/19/2015,2,344
383037,1290317,Experian refused to provide free annual credit...,Yes,03/19/2015,28,334
383038,1290820,Nationstar Mortgage withheld money from my mon...,No,03/19/2015,59,181
383039,1291251,"Hello, please help. To be brief, in XX/XX/XXXX...",No,03/19/2015,59,179
383040,1290345,I was co-executor of my father's estate. He ow...,Yes,03/19/2015,28,149
383041,1291076,"Due to financial hardship, I have been unable ...",No,03/19/2015,91,28
383042,1290564,I had a mortgage with from XXXX of XXXX to XXX...,Yes,03/19/2015,61,11
383043,1290543,I am very disappointed that the CFPB did not h...,No,03/19/2015,66,11
383044,1291420,My mortgage was bought by Green Tree in XXXX X...,No,03/19/2015,61,181
383045,1292231,"I sent a letter however, got no response. Unfo...",Yes,03/19/2015,35,55
383046,1291979,US Bank branch refused to accept pennies in a ...,No,03/19/2015,2,95
383047,1291738,This company continues to report on my credit ...,No,03/19/2015,35,55
383048,1290308,a incorrect reporting by cavalry portfolio on ...,No,03/19/2015,35,55
383049,1291160,We opened an account with Freedom Funiture in ...,Yes,03/19/2015,10,197
383050,1292159,I applied for a loan with XXXX XXXX and had pu...,No,03/19/2015,15,303
383051,1292235,I am unable to obtain my experian credit repor...,No,03/19/2015,28,335
383052,1290871,I had a mortgage with XXXX XXXX XXXX from XXXX...,No,03/19/2015,59,181
383053,1291277,Wells Fargo Mortgage began foreclosure action ...,Yes,03/19/2015,61,181
383054,1291284,I had a mortgage for XXXX years with XXXX XXXX...,Yes,03/19/2015,64,181
383055,1291664,Shellpoint Mortgage did not pay hazard insuran...,No,03/19/2015,59,181
383056,1292603,I was offered a trial modification by my servi...,No,03/19/2015,58,181
383057,1291153,We are trying to close a new Mortgage we have ...,No,03/19/2015,64,181
383058,1291222,Incorrect information is being reported by the...,No,03/19/2015,28,159
383059,1291586,I used money gram to send my mother in XXXX XX...,No,03/19/2015,57,173
383060,1292222,Sent a letter and got no response. Unfortunate...,No,03/19/2015,35,55
383061,1291683,This item is past the Fair Credit Reporting Ac...,Yes,03/19/2015,28,157
383062,1291675,I requested my credit score and paid a special...,No,03/19/2015,28,66
383063,1290847,there is a XXXX XXXX account on my credit repo...,No,03/19/2015,28,159
383064,1291728,I had originally attended XXXX XXXX located in...,No,03/19/2015,91,28
383065,1291009,I have attempted to get this inaccurate judgme...,Yes,03/19/2015,28,161